.summernote-upload-service-panel {
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;

    .upload-panel {
        position: absolute;
        left:0px;
        right:0px;
        height: 50px;
        bottom: 0px;
        box-sizing:border-box;
        border-top:1px solid #ececec;
    
        > input[type=file] {
            position:absolute;
            width:100%;
            height:100%;
            cursor:pointer;
            outline:none;
            box-sizing: border-box;
            
            &:after {
                display:block;
                content: attr(placeholder);
                position:absolute;
                left:0px;
                top:0px;
                right:0px;
                bottom:0px;
                padding:10px;
                box-sizing: border-box;
                background-color: white;
                color: rgba(0, 0, 0, 0.4);
                font-weight: normal;
                font-size: 15px;
            }
        }
    }

    .preview-panel {
        position: absolute;
        left:0px;
        right:0px;
        bottom: 50px;
        top:0px;
        overflow:auto;
        padding:5px;
        box-sizing:border-box;
    
        > .view-item { 
            display:inline-block;
            position: relative;
            vertical-align: middle;
            width: 120px;
            height: 120px;
            box-sizing: border-box;
            margin:5px 5px;
            background-color: rgb(255, 255, 255);
            cursor:pointer;
            text-align: center;
            border-radius: 3px;
            overflow: hidden;
            border:1px solid rgba(0, 0, 0, 0.5);   
            
            &[data-type*='image'] {
                border:0px;

                .preview-image {
                    border: 1px solid rgba(0, 0, 0, 0.5);
                }
            }
            

            &.selected {
                border:3px solid $selected-color;

                .preview-image {
                    border:0px !important;
                }
            }

            &.success {
                .file-progress {
                    opacity: 0;
                }
            }

            > * {
                pointer-events: none;
            }

            .item-close {
                position: absolute;
                right: 0px;
                top: 0px;
                margin:0px;
                padding:0px;
                display:inline-block;
                z-index: 100;
                width:16px;
                height:16px;
                background-color: rgba(0, 0, 0, 0.2);
                pointer-events: all;
                overflow:hidden;
                transition: all 0.3s linear;
                border-radius: 2px;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.7);
                }

                span {
                    display: inline-block;
                    text-align: center;
                    box-sizing: border-box;
                    color: #ffffff;
                    vertical-align: middle;
                    margin-top: -10px;
                }

            }

            .preview-image {
                width: 100%;
                position: absolute;
                vertical-align: middle;
                box-sizing:border-box;
                background-color: #4e5d70;
                top:50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);

                &[data-file-ext='psd'] { background-color: #558ae6; }
                &[data-file-ext='ai'] { background-color: #eaa800; }
                &[data-file-ext='ae'] { background-color: #867ec6; }
                &[data-file-ext='id'] { background-color: #d767c7; }
                &[data-file-ext='jpg'] { background-color: #63a3c8; }
                &[data-file-ext='jpeg'] { background-color: #63a3c8; }
                &[data-file-ext='png'] { background-color: #e9c144; }
                &[data-file-ext='gif'] { background-color: #a2bf59; }
                &[data-file-ext='scatch'] { background-color: #4e5d70; }
                &[data-file-ext='pdf'] { background-color: #dc4c40; }
                &[data-file-ext='html'] { background-color: #98b450; }
                &[data-file-ext='css'] { background-color: #dc625a; }
                &[data-file-ext='js'] { background-color: #4e5d70; }
                &[data-file-ext='php'] { background-color: #60a8a3; }
                &[data-file-ext='xml'] { background-color: #4970a9; }
                &[data-file-ext='mp3'] { background-color: #2296d5; }
                &[data-file-ext='ogg'] { background-color: #2296d5; }
                &[data-file-ext='mid'] { background-color: #2296d5; }
                &[data-file-ext='mpeg'] { background-color: #4e5d70; }
                &[data-file-ext='mp4'] { background-color: #4e5d70; }
                &[data-file-ext='avi'] { background-color: #4e5d70; }
                &[data-file-ext='mov'] { background-color: #4e5d70; }
                &[data-file-ext='ppt'] { background-color: #ec6c35; }
                &[data-file-ext='pptx'] { background-color: #ec6c35; }
                &[data-file-ext='xls'] { background-color: #ec6c35; }
                &[data-file-ext='xlsx'] { background-color: #ec6c35; }
                &[data-file-ext='doc'] { background-color: #4970a9; }
                &[data-file-ext='docx'] { background-color: #4970a9; }
                
                &.empty {


                    &:after {
                        border-radius: 10px;
                        position: absolute;
                        top: 0px;
                        content: attr(data-file-ext);
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: white;
                        font-size: 18px;
                        line-height: 1;
                        padding: 20px 3px;
                        font-weight: bold;
                        text-transform: uppercase;
                        box-sizing: border-box;
                        text-shadow: 1px 3px 4px black;
                        word-wrap: break-word;
                    }


                }

                &:not(.empty) + .file-info {
                    display:none;     
                }
            }

            .file-info {
                position:absolute;
                bottom:0px;
                left:0px;
                right:0px;
                background-color: rgba(255, 255, 255, 0.5);

                .file-name {
                    width:100%;
                    font-size:11px;
                    padding:5px;
                    word-break: break-all;
                }

                .file-size {
                    font-size: 13px; 
                    text-align: right;
                    font-size: 11px;
                    display:none;
                }
            }

            .file-progress {
                position:absolute;
                bottom:0px;
                left:0px;
                right:0px;                
                height: 4px;
                box-sizing:border-box;
                margin:0px;
                padding:0px;
                transition: all 0.7s ease-out; 

                .file-progress-bar {
                    width:0%;
                    height:100%;
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }
}
