$width: 740px;
$height: 500px;
$border-color: #ececec;
$upload-border: 1px solid $border-color;

.summernote-fileuploader-back {
  position:fixed;
  left:0px;
  right:0px;
  bottom:0px;
  top:0px;
  z-index: 10000;
  background-color: rgba(56, 68, 80, 0.71);


  .summernote-fileuploader {
    position: absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    width: $width;
    height: $height;
    box-sizing:border-box;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

    > .tabs {
      position: absolute;
      left:0px; 
      top:0px;
      width:120px;
      bottom:40px;

      > .tab-item {
        display:block;
        padding:10px 10px;
        text-decoration: none;      
        box-sizing:border-box;
        text-align:center;
        cursor: pointer;
        border-bottom:1px solid rgba(0, 0, 0, 0.05);

        > * {
          pointer-events: none;
        }

        &.active {
          font-weight: bold;
          background-color: rgba(0, 0, 0, 0.2);
          color:#333;

        }
      }
    
      > .tab-item.selected {
        font-weight:bold;
        color:blue;
      }
    }

    > .tab-contents {
      position:absolute;
      left: 120px;
      right:0px;
      top:0px;
      bottom:40px;
      box-sizing:border-box;
      border-left:1px solid #ececec;

      > .tab-contents-item {
        position: absolute;
        left:0px;
        right:0px;
        bottom:0px;
        top:0px;
        display: none;

        &.active {
          display: block;
        }
      }


    }

    > .footer {
      position:absolute;
      left: 0px;
      right:0px;
      height:40px;
      bottom:0px;
      text-align: right;
      box-sizing: border-box;
      padding: 5px 10px;
      border-top: $upload-border;

      .select-button {
        padding:3px 10px;
        border-radius: 0px;
        border: $upload-border;
      }
    }

  }
}